[build]
  command = "npm run build"
  publish = "dist/monpotager/browser"
  functions = "netlify/functions"

[dev]
  command = "npm start"
  port = 4200

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
